@keyframes rotateYAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes reverseRotateYAnimation {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes inclineAndMove {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
  100% {
    transform: translateY(-20px) translateX(50px) rotate(5deg);
  }
}

@keyframes waveAnimation {
  0%, 100% {
    transform: rotate(-2deg);

  }
  50% {
    transform: translateY(0px);
  }
}

