
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@800&family=Shrikhand&family=Source+Sans+3:wght@800&display=swap');

$fontLogo: Shrikhand;
$fontQuestions: Source+Sans+3;
$fontAnswers: onest;