@import "fonts";

@mixin flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin input-form{
  padding: 8%;
  width: 28rem;
  height: 100px;
  border-radius: 30px;
  border-width: 4px;
  border-color: black;
  margin: 3%;
  font-family: $fontAnswers;
  font-size: 2rem;
  border-style: solid;
}

// Transitions/Animations/Transforms

@mixin in-out-scale{
  transition: transform 0.3s ease-in-out;
}

@mixin grid-simetric($columns, $rows){
      display: grid;
      grid-template-columns: repeat($columns, 1fr);
      grid-template-rows: repeat($rows, 1fr);
}