@import "../abstracts/index";

.games-menu {
  @include flex-column;
  width: 100%;
  margin: 0 auto;
  position: relative;
  //background-color: lightgreen;
  padding-top: 9% ;
  z-index: 1;

  &__list {
    //background-color: lightyellow;
    @include grid-simetric(2, 2);
    gap: 20px;
    text-align: center;
  }

  &__element{
    //background-color: lightblue;
    height: 184px;
    width: 244px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 30px;
    @include flex-column;
    @include in-out-scale;
    box-shadow:  $shadow2;
   background-color: white;
    &:hover{
      transform: scale(1.1);
    }
  }
  &__anchor {
    font-family: $fontLogo;
    font-size: 2rem ;
    opacity: 30%;
    //background-color: purple;
    height: 184px;
    width: 244px;
    border-radius: 30px; /* esto lo hago para el área del hover*/
    color: black;
    @include flex-column;
    @include in-out-scale;
    &:hover{
      transform: scale(1.2);
    }
    &--disabled{
      pointer-events: none;
    }

  }

  &__anchor:visited {
    color: black;
  }


  .games-menu__list li:last-child .games-menu__anchor {
    opacity: 100%;
    @include in-out-scale;
    color: black;
  }
}

.games-menu__list li:first-child .games-menu__anchor {
  opacity: 100%;
  @include in-out-scale;
  color: black;
}

// media queries

@include tablet {
  .games-menu{
    padding-top: 2% ;
    &__element{
      height: 144px;
      width: 204px;
    }
    &__anchor{
      font-size: 1.5rem ;
      &:hover{
        transform: scale(1.4);
      }
    }
  }
}

@include mobile {
  .games-menu{
    &__list {
      @include flex-column;
      gap: 20px;
      text-align: center;
    }
  &__element{
    height: 104px;
    }
    &__anchor{
      font-size: 1.2rem ;
      height: 144px;
      width: 90%;
    }
  }
}
