@import "../abstracts/index";

/* Customizer */

.customizer {
  //background-color: lightyellow;
  width: 600px;
  height: 550px;
  outline: 6px dashed $purple;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  //box-shadow: $shadow2;

  &__header {
    @include flex-row;
    justify-content: space-between;
    //background-color: lightcoral;
    height: 25%;
    width: 100%;
  }

  &__input {
    @include flex-row;
    height: 100%;
    border: none;
    width: 65%;
    font-size: 2.5rem;
    font-family: $fontAnswers;
    padding: 0 0 0 3%;
    &:focus {
      outline: none;
    }
  }
  &__buttons-container {
    @include flex-row;
    justify-content: space-around;
    //background-color: rgba(144, 238, 144, 0.51);
    height: 100%;
    width: 35%;
  }
  &__icon {
    cursor: pointer;
    @include in-out-scale;
    &:hover {
      transform: scale(1.15);
    }
  }
  &__form {
    /* new question*/
    height: 400px;
    width: 650px;
    overflow: hidden;
    /*timer modal*/
    &--timer{
      padding: 2%;
      height: 200px;
      background-color: $purple;
      @include flex-row;
      gap: 5%;
      letter-spacing: 0.2rem;
      color: #999;
    }
  }

  &__modal-title {
    height: 16.66%;
    width: 100%;
    background-color: $purple;
    border-top: none;
    border-left: none;
    border-right: none;
    @include flex-column;
    font-size: 1.5rem;
    font-weight: bold;
    &--timer{
      //padding: 2%;
      font-size: 2rem;
    }
  }

  &__input-form {

    height: 16.66%;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 1.4rem;
    padding: 0 22% 0 20%;
    &:focus {
      outline: none;
    }
  }

  &__input-form:last-child {
    border-bottom: none;
    font-weight: bold;
  }

  &__questions-container{
    //background-color: lightseagreen;
    //height: 100%;
    padding: 1% 0 1% 0;
    width: 100%;
    max-height: 100%;
    @include flex-column;
    overflow: scroll;
  }

  &__title{
    /* titles of new quest modal*/
    background-color: white;
    height: 60px;
    width: 400px;
    border: 2px solid black;
    border-radius: 22px;
    text-align: left;
    padding: 2.5% 0 0 5%;
    margin-bottom: 2%;
    font-family: $fontQuestions;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: $shadow1;

    /* titles of timer modal*/
    &--time{
     // padding: 5%;
    }
  }

  &__art{
    @include flex-column;
    height: 100%;
   // border: 3px dashed $lightPink;
    border: 1px dashed black;
    border-radius: 30px;
    text-align: center;
    background-color: white;
    width: 50%;
  }
  &__sel{
    margin-top: 2.5%;
    width: 80%;
    border-radius: 30px;
    text-align: center;
  }
  &__opt:hover{
  }

  &__saved{
    //background-color: lightcoral;
    @include flex-column;
    //min-height: 436.13px;
    margin-top: 158px;
  }
}

.customizer__form.customizer__form-timer{
  @include flex-column;
}

.div__loading{
  //background-color: lightgreen;
  min-width: 600px;
  min-height: 677px;
  border-radius: 30px;
  @include flex-column;

}


/*---------------------*/

/* Customizer extra */


.primary-button.primary-button--modal-mod{
  background-color: $purple;
  width: 100px;
  border-radius: 10px;
  border: 2px solid black;
  bottom:17%;
  display: block;
  margin-left: 271px ;
  position: absolute;
}

.primary-button.primary-button--customizer-mod2{
  box-shadow: $shadow1;
  //position: absolute;
  margin-top: 4%;

}

/*---------------------*/

/* Customizer tablet */

@include tablet{
  .customizer {
    width: 450px;
    height: 450px;
    &__input{
      font-size: 2rem;
    }
    &__icon {
      height: 50px;
    }
    &__form{
      width: 450px;
      height: 450px;
    }


  }

  .div__loading{
    min-height: 529px;
  }

  .customizer__form.customizer__form--timer{
    width: 300px;
    height: 160px;
  }

  .customizer__modal-title--timer{
    font-size: 1.3rem;
  }

  .primary-button.primary-button--modal-mod{
    background-color: $purple;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
    bottom: 14%;
    display: block;
    margin-left: 174px ;
    position: absolute;
  }

}

/*---------------------*/

/* Customizer mobile */

@include mobile{
  .customizer {
    width: 350px;
    height: 500px;

    &__header {
      height: 18%;
    }
    &__input{
      font-size: 1.8rem;

    }
    &__icon {
      height: 40px;
    }
    &__title {
      height: 50px;
      width: 280px;
    }
    &__form{
      width: 350px;
      height: 500px;
    }
  }

  .div-loading{
    min-width: 300px;
    max-width: 600px;
  }

  .primary-button.primary-button--modal-mod{
    background-color: $purple;
    color: black;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
    bottom:10%;
    display: block;
    margin-left: 128px ;
    position: absolute;
  }

  .primary-button.primary-button--customizer-mod2{
    box-shadow: $shadow1;
    //position: absolute;
    margin-top: 4%;
    width: 140px;
    height: 41px;
  }

  .customizer__form.customizer__form--timer{
    width: 300px;
    height: 160px;
  }

  .customizer__modal-title--timer{
    font-size: 1.3rem;
  }



}