@import "../abstracts/index";

.contact {
  font-family: $fontAnswers;

  &__title{
    background-color: $purple;
    height: 3rem;
    text-align: center;
    padding-top: 4%;
    font-weight: bold;
    border-color: $purple;

  }

  &__input{
    height: 3rem;
    display: block;
    width: 100%;
  }
  &__textarea{
    display: block;
    max-width: 100%;
    max-height: 160px;
    min-width: 100%;
    min-height: 160px;
    margin: 0 auto;
  }
  &__error{
    color: red;
    padding: 0.5%;
    display: block;
  }

  &__date{
    height: 3rem;
  }
  &__label{
    color: grey;
  }

  &__checkbox{

  }

}


