@import "../abstracts/index";

.gallery{
  padding-top: 2%;
  padding-bottom: 15%;
  //background-color: lightgreen;
  width: 60%;
  border-top: 2px solid grey;
  @include grid-gallery(4)
}

.no-gallery{
  font-family: $fontQuestions;
  font-size: 2rem;
  padding-top: 5%;
  @include flex-column;
  &__bird{
    padding-left: 35%;
  }
}

@include mobile {
  .gallery{
    width: 87%;
    height: auto;
    padding-bottom: 75%; // only for fit last row
  }
}
