@import "../abstracts/mixins";

.main-header{
  @include flex-row;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;


  &__logo{
      width: 350px;
      height: auto
  }

}