@import "../abstracts/mixins";

/* Header */

.main-header{
  @include flex-row;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  height: 10vh;
  &__logo{
      width: 350px;
      height: auto;
    &:hover{
      cursor: pointer;
    }
  }
}

/*-----------------*/

/* Media query for mobile */

@include under900{
  .main-header{
    transition: all 0.3s ease;
    @include flex-row;
    &__logo{
      width: 280px;
      text-align: center;
    }
  }
}

@include under900 {

  .main-header{
    justify-content: space-between;
  }
  .main-header__logo{
   width: 270px;
    padding-top: 0;
  }
}

/*-----------------*/
