@import "../abstracts/index";

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  &--show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  &__content{
    background-color: #fefefe;
    border: 2px solid #888;
    border-radius: 30px;
    font-family: $fontAnswers;
    overflow: hidden;
    //width: 40%;
    height: 400px;
    width: 650px;
    @include flex-column;
 }

}

/*---------------------*/

/* MQ for tablet */

@include tablet{
  .modal__content{
    width: 450px;
    height: 450px;
  }
}

/*---------------------*/

/* MQ for mobile */

@include mobile{
  .modal__content{
    width: 350px;
    height: 500px;
  }
}