@import "../abstracts/index";

.contact {
  font-family: $fontAnswers;
  font-size: 1.5rem;
  color: grey;
  overflow: hidden;
  text-align: center;
  width: 650px;
  height: 400px;

  &__title{
    background-color: $purple;
    width: 100%;
    height: 10%;
    @include flex-column;
  }

  &__input-container{
    @include flex-column;
    height: 15%;
  }

  &__input{
    width: 100%;
    border: none;
    text-align: center;
    border-bottom: 2px solid grey;
    position: relative;
    height: 100%;
    &--mod{
      padding-top:  2%;
    }
  }

  &__textarea-container{
    @include flex-column;
  }

  &__textarea{
    text-align: center;
    padding-top: 2%;
    outline: none;
    resize: none;
    border: none;
    width: 100%;
    scrollbar-color: $purple white; // only for firefox
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(205, 180, 219, 0.62);
      border-radius: 10px;
      border: 2px solid #f1f1f1;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $purple;
    }

  }

  &__textarea:focus{
    border-top: 1px solid grey;
  }

  &__textarea:not([rows]) {
    min-height: 11rem;
  }

  &__label{
  padding: 2%;
  }

  &__checkbox{
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 5%;
    accent-color: $blue;
  }

  &__button{
    background-color: $purple;
    width: 100px;
    border-radius: 30px ;
    position: absolute;
    left: 47%;
  }

}

@include mobile{
  .contact {
    width: 300px;
    font-size: 1.4rem;

    &__checkbox {
      @include flex-column;
      margin-left: 45%;
      height: 20px;
    }

    &__input-container {
      &--mod {
        height: 25%;
      }
    }
  }
}



