@import "../abstracts/_index.scss";

/* General */

.navbar{

  @include flex-row();
  gap: 3rem;
  padding-top: 1.425%;

  &__link{
    font-family: $fontLogo;
    font-size: 2.5rem;
    position: relative;
    color: black;
    &.pointer{
      cursor: pointer;
      font-size: 31.6px;
    }

  }

  &__link:hover::after, &__link:active::after {
    content: url('/public/pointpoint.svg');
    position: absolute;
    top: 50%;
    left: 50%;

  }
  &__link:visited{
    color: black;
  }

  &__submenu{
    position: relative;
    border: none;
    background: none;
    font-family: $fontLogo;
    cursor: pointer;

    &:hover .navbar__sublist{
      display: block;
    }

  }

  &__button{
    background-color: #ffffff;
    border: none;
    font-size: 2.5rem;
    position: relative;
    color: black;
    &:hover{
      cursor: pointer;
    }
  }

  &__sublist{
    display: none;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    padding-left: 1.5%;
    padding-top: 8%;
  }

  &__sublink{
    display: block;
    font-family: $fontAnswers;
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    padding: 1%;
  }
}

/*-------------------------------*/

/* Navrbar logged (more elements) */

.navbar.navbar--mod{
  //background-color: lightblue;
  gap: 1.2rem;
}

.navbar__link.navbar__link--mod,
  .navbar__button.navbar__button--mod, .navbar__link.pointer.pointer--mod{
  font-size: 31.6px;
}

.hambmenu{
  display: none;
}

/*-------------------------------*/

/* Media Query for Mobile */

@include mobile{

  .navbar{
    display: none;
    &__link{
      font-size: 2rem;
    }
  }
  .hambmenu{
    display: block;
    position: absolute;
    top: 30px;
    text-align: right;
    right: 60px;

    &__submenu{
      display: none;
      position: absolute;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      margin-top: 40px;
      left: -80px;
      padding: 6px;
      border: 2px solid black;
    }

    &__icon{
      position: absolute;
      @include flex-column;
      display: block;
      top: 7.5px;

    }
    &__check{
      position: absolute;
      width: 30px;
      height: 30px;
      opacity: 0;
      left: 60%;
    }
    &__img{
      position: absolute;
      z-index: -1;
    }
    &__check:checked ~  &__submenu{
      display: block;
      z-index: 2;
    }
    .hambmenu__check:not(:checked) ~ .hambmenu__submenu {
      display: none;
      z-index: 0;
    }

  }
  .hambmenu__submenu.hambmenu__submenu--mod{
    display: block;
    position: absolute;
    top: 10px;
    text-align: right;
    left: -200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
}

/*-------------------------------*/


/* Media Query for tablet */

@include  tablet{

  /* For reduce navbar (not Logged) */
  .navbar{
    padding-left: 8px;
    &__link,&__button{
      font-size: 1.6rem;
    }
  }
  /* For full navbar (Logged) */

  .navbar.navbar--mod{
    gap: 0.4rem;

  }
  .navbar__link.navbar__link--mod, .navbar__button.navbar__button--mod {
    font-size: 1.6rem;
  }
  .navbar__link.pointer.pointer--mod{
    font-size: 1.6rem;
  }
}

/*-------------------------------*/


/* Media Query for full navbar with hamburguer menu */
  /* it cover size between reduce desktop & mobile */

@include between1 {
  .navbar.navbar--mod {
    display: none;

    &__link {
      font-size: 2rem;
    }
  }
  .hambmenu.hambmenu--mod {
    display: block;
    position: absolute;
    text-align: right;
    right: 30px;
    top: 10px;
    padding-right: 3%;

    &__icon {
      position: absolute;
      @include flex-column;
      display: block;
    }
  }
  .hambmenu {
    &__check {
      position: absolute;
      width: 30px;
      height: 30px;
      opacity: 0;
      top: 40%;
      left: 60%;
    }

    &__img {
      position: absolute;
      z-index: -1;
    }

    &__check:checked ~ &__submenu {
      display: block;
      z-index: 2;
    }

    .hambmenu__check:not(:checked) ~ .hambmenu__submenu {
      display: none;
      z-index: 0;
    }

  }

  .hambmenu__submenu.hambmenu__submenu--mod {
    display: block;
    position: absolute;
    top: 10px;
    text-align: right;
    left: -200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: solid 2px black;
    padding: 25%;
  }
}








