@import "../abstracts/_index.scss";

.navbar{
  @include flex-row();
  gap: 3rem;
  a{
    font-family: $fontLogo;
    font-size: 2.5rem;
    position: relative;
  }
  a:hover::after {
    content: url('/public/pointpoint.svg');
    position: absolute;
    top: 50%;
    left: 50%;
  }
  a:active::after {
    content: url('/public/pointpoint.svg');
    position: absolute;
    bottom: 50%;
    left: 50%;
  }

  .exit{
    cursor: pointer;
  }

}
