@import "../abstracts/index";

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

}

.modal--show {
  display: flex;
  flex-direction: column;
  z-index: 99999;
}


.modal__content{
  background-color: #fefefe;
  margin: 10% auto;
  border: 1px solid #888;
  width: 30%;
  height: 65%;
  border-radius: 30px;
  padding: 3%;
}

