@import "../abstracts/index";

.about{
  background-image: url("../../public/background-about.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding-bottom: 20%;
  @include flex-column;
  position: relative;
  &__text{
    width: 50%;
  }

  &__p{
    font-family: $fontAnswers;
    font-weight: normal;
    font-size: 2rem;
    padding-bottom: 5%;
  }
  &__p:last-child{
    padding-bottom: 0;
  }

  &__container{
   // background-color: #e22b31;
    position: relative;
    height: 50px;
    padding-top: 2%;

  }



}

@include tablet{
  .about{
    padding-bottom: 20%;
    &__text{
      width: 90%;
    }
    &__p{
      font-size: 1.8rem;
    }

  }
}
@include mobile{
  .about{
    &__p{
      font-size: 1.6rem;
    }


  }
}
