@import "../abstracts/_index.scss";

// Styles for authforms pages (login/register)

.auth{
  @include flex-column;
  margin: 0 auto;
  max-width: 1920px;
 //background-color: rgba(65, 59, 253, 0.32);
  width: 100%;
  padding-top: 6%;
  &__header {
    width: 448px;
   // background-color: rgba(144, 238, 144, 0.4);
    @include flex-column;
    height: 100px;
    position: relative;
    padding-top: 2%;
    padding-bottom: 1%;
  }
  &__title{
    font-family: $fontQuestions;
    font-size: 1.2rem;
    @include flex-row;
   // background-color: cadetblue;
    z-index: 1;
    gap: 3%;
    &--register{
      font-size: 1.6rem;
    }
  }

  &__hug{
  //  background-color: pink;
    position: absolute;
    left: 40%;
    padding-bottom: 50px;
    @include in-out-scale;
    &:hover{
      transform: scale(1.01);
    }
  }
  &__footer{
    //width: 500px;
    padding-top: 2%;
    width: 100%;
    position: relative;
   // background-color: lightgrey;
  }

  &__sigh{
    position: absolute;
  //  background-color: lightyellow;
    bottom: 80%;
    right: 62%;
    @include in-out-scale;
    &:hover{
      animation: rotateYAnimation 2s ease-in-out forwards, reverseRotateYAnimation 2s ease-in-out forwards;
    }

  }
  &__suggestion{
    padding-top: 2%;
   // background-color: burlywood;
    @include flex-row;
    font-family: $fontAnswers;
    font-size: 2.5rem;
    gap: 1%;
  }
  &__free{
    position: relative;
    // background-color: rgba(128, 0, 128, 0.45);
    height: 125px;
    width: 164px;
    @include flex-row;
    padding-right: 6%;
  }
  &__anchor{
    font-family: $fontLogo;
    color: black;
    @include in-out-scale;
    &:hover{
      transform: scale(1.02);
    }
    &--reforce{
      color: $purple;
      -webkit-text-stroke: 1.5px black;
      text-shadow: $shadow3;
      @include in-out-scale;
      &:hover{
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
  &__hearts{
    position: absolute;
    bottom: 18%;
    right: 14%;
    z-index: -1;
  }

  &__cactus{
    //background-color: lightcoral;
    height: 160px;
    position: absolute;
    right: 350px;
    width: auto;
    margin-bottom: 10.2%;
    z-index: -1;
    //transform: rotate(-5deg);
    @include in-out-scale;
    &:hover{
      transform: scale(1.02);
    }
    animation: waveAnimation 2s ease-in-out infinite alternate;
  }
  &__boot{
    //background-color: lightcoral;
    height: 140px;
    width: auto;
    position: absolute;
    left: 60%;
    bottom: -32px;
    //z-index: -1;
    transform: rotate(-3.5deg);
    //scaleY: -1;
    @include in-out-scale;
    &:hover{
      transform: scale(1.02);
    }
    animation: inclineAndMove 2s ease-in-out infinite alternate;
  }


}

// Styles to form component

.form{
 // background-color: lightsalmon;
  @include flex-column;
  &__input{
    @include input-form;
    box-shadow: $shadow1;
    @include in-out-scale;
    &:hover{
      transform: scale(1.005);
    }
  }
  &__input:last-of-type{
    margin-bottom: 8%;
  }

}

// register



// Breakpoints for Responsive design

@include mobile{
  .auth{
    padding-top: 30%;
    overflow-y: auto;
    &__sigh{
      display: none;
      animation: none;
    }
    &__header{
      padding-bottom: 6%;
    }
    &__suggestion{
      font-size: 2rem;
      padding: 3%;
      @include flex-column;
      gap: 2%;
    }
    &__phrase{
      width: 60%;
      text-align: center;
    }
    &__anchor{
      font-size: 2.6rem;
      &--reforce{
        font-size: 3.5rem;
        padding-top: 5%;
      }
    }
    &__free{
      padding: 0;
      height: 40px;
    }
    &__hearts{
      height: 50px;
      left: 60%;
      bottom: 3px;
    }
  }
  .form{
    &__input{
      width: 20rem;
    }
  }
  .auth__cactus{
    right: 300px;
    height: 140px;
    bottom: -55px
  }
  .auth__boot{
    display: none;
  }


}

@include tablet{
  .auth__phrase{
    padding: 3%;
    font-size: 1.8rem ;
  }
  .auth__sigh{
    padding-right: 3%;
  }
  .auth__boot{
    bottom: -30px;
    margin-left: 5%;
  }
}