@import "../abstracts/index";

.games{
  position: relative;
  background-color: lightblue;
  @include flex-row;
  &__container{
    background-color: lightgreen;
    height: 200px;
    width: 200px;
    position: absolute;


  }
  &__hand{
    height: 200px;
    width: 200px;
   // background-color: lightsalmon;
    position: relative;
    bottom: 53%;
    right: 290px;
  }
  &__daydream{
    height: 180px;
    width: 180px;
    //background-color: lightsalmon;
    position: relative;
    top: 160%;
    left: 270px;
  }
}

@include mobile {
  .games{
    padding-top: 8%;
    &__daydream{
      height: 120px;
      width: 120px;
      top: 180%;
      left: 150px;
      z-index: -1;
    }
    &__hand{
      display: none;
    }
  }

}

@include tablet {
  .games{
    padding-top: 8%;
    &__daydream{
      height: 160px;
      width: 160px;
      top: 120%;
      left: 260px;
      z-index: -1;
    }
    &__hand{
      height: 190px;
      width: 190px;
      bottom: 59%;
      right: 250px;
    }
  }
}