@import "../abstracts/index";

.games{
  position: relative;
  //background-color: lightblue;
  @include flex-row;
  &__container{
  //background-color: lightgreen;
    height: 200px;
    width: 200px;
    position: absolute;
  }
  &__hand{
    height: 200px;
    width: 200px;
   // background-color: lightsalmon;
    position: relative;
    bottom: 50%;
    right: 280px;
   // z-index: -1;
  }
  &__daydream{
    height: 180px;
    width: 180px;
    //background-color: lightsalmon;
    position: relative;
    top: 160%;
    left: 270px;
  }
}

