@import "../abstracts/index";

.home {
  overflow-x: hidden;
  padding: 5%;
  position: relative;
  @include flex-column;
  //background-color: lightgreen;

  &__content{
    @include flex-column;
    //background-color: purple;
  }

  &__figure {
    width: 1000px;
    position: relative;
    left: 10.5%;
  }
  &__container{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 420px;
    right: 110px;
    @include flex-column;
  }
  &__subcontainer{
    position: absolute;
  }
  &__eye{
   //background-color: #e22b31;
   position: relative;
   right: 380px;
  }
  &__cereals{
    //background-color: #e22b31;
    position: relative;
    left: 438px;
    bottom:60px;
  }

  &__congrats{
    font-family: $fontQuestions;
    font-size: 2rem ;
  }


}

@include tablet{
  .home{
    &__figure{
      width: 900px;
    }
    &__cereals{
      width: 180px;
      left:350px;
      top: 30px
    }
    &__eye{
      width: 180px;
      bottom: 40px;
      right: 300px;
      z-index: -1;
    }

  }
}

@include mobile{
  .home{
    //background-color: $lightPink;
    &__figure{
      left: 10.95%;
    }
    &__cereals{
      width: 180px;
      left:100px;
      top: 130px;
    }
    &__eye{
      display: none;
    }

  }
}