@import "../abstracts/_index.scss";

.login{
  @include flex-column;
  padding: 6% 0 2% 0;


}

.login__header{
  @include flex-row;
  gap: 5%;
  padding: 4% 0 2% 0;
  h1{
    font-family: $fontQuestions;
    font-size: 2rem;
  }

}

.login__form{
  @include flex-column;
  input{
    padding: 8%;
    width: 28rem;
    height: 100px;
    border-radius: 30px;
    border-width: 4px;
    border-color: black;
    margin: 3%;
    font-family: $fontAnswers;
    font-size: 2rem;
  }
  input:last-child{
    margin-bottom: 9%;
  }
}

.login__register-anchor {
  padding: 8% 5% 5% 5%;
  @include flex-row;
  width: 90%;
  gap: 1%;
  position: relative;

  p {
    font-family: $fontAnswers;
    font-size: 2.5rem;
  }


  a {
    font-family: $fontLogo;
    font-size: 2.5rem;

  }

  a:nth-child(3){
    color: $purple;
    -webkit-text-stroke: 2px black;
    stroke-width: 9px;
    text-shadow: 4px 2px black;
  }

}

.register-anchor__free{
  @include flex-row

}

.login__doodle{
    position: absolute;
    right: 15%;
    top: 20%;

}

.free__link{

}

