@import "../abstracts/index";
.profile{
  @include flex-column;
}

.rank {
  //background-color: pink;
  border-top: 2px solid grey;
  width: 60%;
  max-width: 600px;
  @include flex-column;
  justify-content: flex-start;
  height: 800px;
  padding-top: 1%;
}


@include mobile{
  .rank{
    width: 90%;
    min-height: 400px;
    max-height: 400px;
  }

}
