@import "../abstracts/index";

.records{
  @include flex-row;
  align-items: flex-start;
  background-color: purple;
  height: 100vh;
  padding-top: 60px;

  &__aside{
    background-color: aquamarine;
    @include flex-column;
    width: 390px;
  }
  &__header{
    @include flex-column;
  }
  &__photo {
    // background: lightblue;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    @include flex-column;
    border: 1.8px solid black;
  }
  &__username{
    font-family: $fontQuestions;
    padding-top: 2px;
    font-size: 1.6rem;
  }
  &__stats{
    @include flex-row;
    font-family: $fontAnswers;
    padding-top: 25px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__historic{
    width: 60%;
    padding: 25px 15px 15px 15px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-family: $fontAnswers;
    font-size: 1.2rem;

  }

  &__list-item{
    padding: 2px 0 15px 0;
  }

  &__row{
    //background-color: lightcoral;
    @include flex-row;
    justify-content: space-between;

  }

  &__row.selected{
      background-color: $lightBlue;
  }

  &__title{
    width: 40%;
    overflow: hidden;
  }

  &__inform{
    background-color: lightgreen;
    @include flex-column;
    width: 100%;
  }

  &__report{
    @include flex-row;
    font-family: $fontLogo;
    font-size: 2rem;
  }

  &__glass{
    background-color: grey;
    padding-top: 20px;
    padding-left: 2.5px;
  }

  &__letters{
    //background-color: pink;
    z-index: 2;
    position: absolute;
  }
  &__rest{
    margin-left: 225px;
  }

  &__container{
    position: absolute;
    &--relative{
      position: relative;
      @include flex-row;
      justify-content: left;
    }
    &--relgap{
      position: relative;
      @include flex-row;
      gap: 10px;
      justify-content: left;
    }
  }

  &__underline{
    height: 1px;
    border: 1px solid black;
    width: 560px;
    background-color: black;
    margin-top: 40px;
  }

  &__quiz{

  }

  &__summary{
    @include flex-column;
    padding: 2% 0 2% 0;
    font-family: $fontAnswers;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: red;
  }

  &__mini-icon{
    height:30px;
    width:30px;
    padding-left: 3%;
  }

  &__minititle{
    padding-bottom: 20px;
  }

  &__questions{
    background-color: lightyellow;
    padding: 2%;
    font-family: $fontQuestions;
    font-weight: lighter;
    font-size: 1.5rem;

  }

  &__question{

    &:hover{
      cursor: pointer;
      font-weight: bold;
      transition: font-weight 0.05s cubic-bezier(0.4, 0, 0.2, 1);

    }
  }
  &__question.selectedQuestion{
    font-weight: bold;
  }

  &__answers{
    font-family: $fontAnswers;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 7% 0 7% 0;
    @include flex-column;
  }

  &__yr-answer{
    padding: 0 0 6% 0;
  }

  &__co-answer{
    text-decoration: underline;
    text-decoration-color: $pink;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
  }

}

