@import "../abstracts/index";

.room{
  background-color: pink;
  @include flex-column;

  &__title{
    background-color: lightyellow;
    font-family: $fontLogo;
    @include flex-row;
    justify-content: space-between;
    width: 350px;
    font-size:  1.5rem;
    color: $purple;
    -webkit-text-stroke: 1px black;
    text-shadow: $shadow3;
    padding-top: 5%;
    &--mod{
      color: $blue;
    }
  }

  &__players{
    background-color: lightcoral;
    @include flex-column;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  &__user{
    @include flex-column;
    background-color: lightsteelblue;
  }

  &__ornament{
    padding-top: 25px;
    padding-bottom: 2%;
  }

  &__info{
    position: relative;
    font-family: $fontAnswers;
    font-weight: bold;
    @include flex-row;
    gap: 2%;
    padding: 2px;
    border: 1.5px solid black;
    border-radius: 10px;
    width: 448px;
    height: 50px;
    font-size: 1.3rem;

  }

  &__id{
    color: $pink;
    -webkit-text-stroke: 1px black;
    @include in-out-scale;
    background: none;
    border: none;
    &:hover{
      cursor: pointer;
      color: $lightPink;
      -webkit-text-stroke: 1.2px black;
    }
  }

  [popover] {
    background: black;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 1.2rem;
    max-width: 20ch;
    line-height: 1.4;
    top: 2rem;
    margin: 0 auto;
    font-family: $fontAnswers;
    font-weight: bold;
  }

  [popover]:popover-open {
    translate: 0 0;
    transition: display 0.7s
  }

  // close popover
  [popover] {
    transition: translate 0.7s ease-out, display 0.7s ease-out allow-discrete;
    translate: 0 -22rem;
  }


  &__pop-message{
    z-index: 9;
    left: 600px;

  }

  &__cont{
    background-color: blueviolet;
    padding-top: 4%;
  }

  &__cont--row{
    @include flex-row;
    padding-top: 0;
    gap: 25px;
  }

  &__quiz{
    @include flex-column;
    &.--hide{
     // background-color: blue;
      display: none;
    }
  }

  &__after-response{
    background-color: lightsalmon;
    @include flex-column;
    text-align: center;
    font-family: $fontAnswers;
    font-size: 1.4rem;
    padding-top: 5%;
  }

  &__points{
    padding-top: 3%;
    font-family: $fontLogo;
    font-size: 1.5rem;
  }

  &__final-results{
    @include flex-column;
  }

  &__pb--mod{
    width: 140px;
  }

  &__complete{
    //background-color: crimson;
    padding-top: 10%;
    @include flex-column;
    font-family: $fontQuestions;
    font-weight: bold;
    font-size: 1.5rem;
    gap: 50px;
    color: $pink;
  }

}