@import "../abstracts/index";

.zen{
  @include flex-column;
  height: 95vh;
  position: relative;
  &__quizz-container{
    position: relative;
    @include flex-column;
  }
  &__ornaments{
    @include flex-row;
    justify-content: space-between;
    //padding: 0 400px 0 400px;
    //background-color: #ffff7b;
    width: 100%;
    position: absolute;
    padding: 0 10%;
  }
  &__doodle{
    //height: 120px;
    height: 8vw
  }
  &__phrase{
    //background-color: chocolate;
    @include flex-row;
    font-family: $fontQuestions;
    font-size: 2rem;
    padding-top: 2%;
  }
  &__mantra{
    opacity: 40%;
    text-decoration: underline;
    text-decoration-color: $purple;
    text-decoration-thickness: 1.5px;
    color: white;
    -webkit-text-stroke: 0.6px black;
  }
}

.zen__title{
  //background-color: indianred;
  font-family: $fontLogo;
  font-size: 3.5rem;
  letter-spacing: 5rem;
  padding-left: 9%;
  opacity: 40%;
  text-shadow: $shadow1;
  height: 106.93px;
}

@include mobile{
  .zen__ornaments {

   display: none;
  }
  .zen__phrase{
    width: 100px;
    font-size: 1.4rem;
  }
}

@include tablet{
  .zen__ornaments {
   display: none;
  }
}